

body {
	background-color: gold;
}
h1 {
	text-align: left;
	margin: auto;
}

#bio {
	text-align: center;
	text-wrap: normal;
	font-size: medium;
}

.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 25%;
	height: auto;
}

img:hover {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 80%;
	height: auto;
}
.stateofbirth {
	background-color: green;
}

.education {
	background-color: blue;
}

#activities {
	background-color: goldenrod;
}
#philosophy {
background-color: dodgerblue;
	text-decoration-color: crimson;
}